@import "tailwindcss";

/* Use theme() to read Tailwind tokens */
body {
  font-family: theme(fontFamily.sans);
  /* maps to Lora, serif from your config */
  color: theme(colors.stone.900);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}